@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Perfil Caminhoneiro";
}



<div class="container-fluid">

    <div class="row mt-4 mr-5 ml-5 mb-2 p-3 bg-light rounded">

        <div class="col-4">
            <h2 class="titulo">Usuário</h2>
            <hr>
            <div id="div-usuario" class="w-100">


            </div>
        </div>

        <div class="col-4">
            <h2 class="titulo">Mensagens</h2>
            <hr>
            <div class="w-100">
                <div id="div-chat-avisos-msgs" class="chat-avisos">
                    <div id="div-mensagens">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h2 class="titulo">Status</h2>
            <hr>
            <div class="w-100" id="div-status">


            </div>
        </div>
    </div>


    <div class="row mt-4 mr-5 ml-5 mb-2 p-3 bg-light rounded">
        <div class="col-8">
            <div id="mapa-todos-caminhoes"></div>
        </div>
        <div class="col-4">
            <figure class="highcharts-figure">
                <div id="grafico-qtd-notificacoes-dia"></div>
            </figure>
        </div>

    </div>





</div>




<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=CHAVE_DO_GOOGLE_AQUI&callback=initMap" defer></script>











<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<script src="~/js/funcoes.js"></script>

<script>
            $(document).ready(function(){

                /* VARIAVEIS GLOBAIS */
                var mapaTodosCaminhoes;
                var markers = [];
                var markersAnteriores;
                var centro;
                var zoom;
                var markerCluster;
                var caminhoes = [];
                var caminhoneiroEscolhido = @(ViewBag.CaminhoneiroId);
                var caminhoneiros = GetCaminhoneiros();



                /* funçoes */
                function initMapaTodosCaminhoes(caminhoneiro) {
                    centro = { lat: caminhoneiro.Lat, lng: caminhoneiro.Lon };
                    mapaTodosCaminhoes = new google.maps.Map(document.getElementById('mapa-todos-caminhoes'), {
                        zoom: 19,
                        center: centro,
                        styles: [
                            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                            {
                            featureType: 'administrative.locality',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#d59563'}]
                            },
                            {
                            featureType: 'poi',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#d59563'}]
                            },
                            {
                            featureType: 'poi.park',
                            elementType: 'geometry',
                            stylers: [{color: '#263c3f'}]
                            },
                            {
                            featureType: 'poi.park',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#6b9a76'}]
                            },
                            {
                            featureType: 'road',
                            elementType: 'geometry',
                            stylers: [{color: '#38414e'}]
                            },
                            {
                            featureType: 'road',
                            elementType: 'geometry.stroke',
                            stylers: [{color: '#212a37'}]
                            },
                            {
                            featureType: 'road',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9ca5b3'}]
                            },
                            {
                            featureType: 'road.highway',
                            elementType: 'geometry',
                            stylers: [{color: '#746855'}]
                            },
                            {
                            featureType: 'road.highway',
                            elementType: 'geometry.stroke',
                            stylers: [{color: '#1f2835'}]
                            },
                            {
                            featureType: 'road.highway',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#f3d19c'}]
                            },
                            {
                            featureType: 'transit',
                            elementType: 'geometry',
                            stylers: [{color: '#2f3948'}]
                            },
                            {
                            featureType: 'transit.station',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#d59563'}]
                            },
                            {
                            featureType: 'water',
                            elementType: 'geometry',
                            stylers: [{color: '#17263c'}]
                            },
                            {
                            featureType: 'water',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#515c6d'}]
                            },
                            {
                            featureType: 'water',
                            elementType: 'labels.text.stroke',
                            stylers: [{color: '#17263c'}]
                            }
                        ]
                    });
                }


                /* FUNCÃO DE DESENHAR OBJETOS NO MAPA */
                function DesenhaMarkersNoMapa(map, markersAnteriores) {
                    if (markersAnteriores != null) {
                        for (var i = 0; i < markersAnteriores.length; i++) {
                            markersAnteriores[i].setMap(null);
                        }
                    }
                    else
                    {
                        for (var i = 0; i < markers.length; i++) {
                            markers[i].setMap(map);
                        }
                    }
                }

                // Remove os markers do mapa, mas mantém no array.
                function LimpaMarkers(markersAnteriores) {
                    DesenhaMarkersNoMapa(null, markersAnteriores);
                }

                // Deleta todos os markers no array retirando a referencia a eles.
                function DeletaMarkers() {
                    LimpaMarkers(markersAnteriores);
                    markers = [];
                }

                /* DESENHOS */
                function CriaRadaresNoMapa(caminhoneiro, map) {


                        var latLog = { lat: caminhoneiro.Lat, lng: caminhoneiro.Lon };
                        var latLog2 = { lat: caminhoneiro.Lat - 0.00020, lng: caminhoneiro.Lon - 0.00020};
                        var latLog3 = { lat: caminhoneiro.Lat + 0.00020, lng: caminhoneiro.Lon + 0.00020 };

                        var iconRadar = {
                            url: "../../imgs/icons/caminhao-icon.png",
                            scaledSize: new google.maps.Size(100, 55)
                        }

                        var iconNunosPt = {
                            url: "../../imgs/icons/nunos-ponto-icon.png",
                            scaledSize: new google.maps.Size(60, 60)
                        }

                        var contentString =
                            `<div id="content">
                                <div id="siteNotice">
                                <h1 id="firstHeading" class="firstHeading">${caminhoneiro.Placa}</h1>
                                <hr>
                                <div id="bodyContent">
                                    <div style="padding-top:10px;"><b>Nome Do Caminhoneiro: </b> ${caminhoneiro.Caminhoneiro} </div>
                                    <div style="padding-top:10px;"><b>Último CheckPoint: </b>${caminhoneiro.UltimoCheckPoint}</div>
                                    <div style="padding-top:10px;"><b>Status de viagem: </b> <div class="div-bg-${caminhoneiro.Status}"></div> </div>
                                <div>
                            </div>
                            `;

                        var infoWindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                    var contentString2 =
                        `<div id="content">
                                <div id="siteNotice">
                                <h1 id="firstHeading" class="firstHeading">Nunos#02</h1>
                                <hr>
                            </div>
                            `;
                    var contentString3 =
                        `<div id="content">
                                <div id="siteNotice">
                                <h1 id="firstHeading" class="firstHeading">Nunos#03</h1>
                                <hr>
                            </div>
                            `;

                    var infoWindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    var infoWindow2 = new google.maps.InfoWindow({
                        content: contentString2
                    });

                    var infoWindow3 = new google.maps.InfoWindow({
                        content: contentString3
                    });

                        var marker = new google.maps.Marker({
                            position: latLog,
                            map: map,
                            icon: iconRadar,
                        });

                        var marker2 = new google.maps.Marker({
                            position: latLog2,
                            map: map,
                            icon: iconNunosPt,
                        });

                        var marker3 = new google.maps.Marker({
                            position: latLog3,
                            map: map,
                            icon: iconNunosPt,
                        });


                        google.maps.event.addListener(marker, 'mouseover', (function (marker, contentString, infoWindow) {
                            return function () {
                                infoWindow.setContent(contentString);
                                infoWindow.open(map, marker);
                            };
                        })(marker, contentString, infoWindow));

                        google.maps.event.addListener(marker, 'mouseout', (function (marker, contentString, infoWindow) {
                            return function () {
                                infoWindow.setContent(contentString);
                                infoWindow.close();
                            };
                        })(marker, contentString, infoWindow));



                    google.maps.event.addListener(marker2, 'mouseover', (function (marker2, contentString2, infoWindow2) {
                        return function () {
                            infoWindow2.setContent(contentString2);
                            infoWindow2.open(map, marker2);
                        };
                    })(marker2, contentString2, infoWindow2));

                    google.maps.event.addListener(marker2, 'mouseout', (function (marker2, contentString2, infoWindow2) {
                        return function () {
                            infoWindow2.setContent(contentString2);
                            infoWindow2.close();
                        };
                    })(marker, contentString2, infoWindow2));



                    google.maps.event.addListener(marker3, 'mouseover', (function (marker3, contentString3, infoWindow3) {
                        return function () {
                            infoWindow3.setContent(contentString3);
                            infoWindow3.open(map, marker3);
                        };
                    })(marker3, contentString3, infoWindow3));

                    google.maps.event.addListener(marker3, 'mouseout', (function (marker3, contentString3, infoWindow3) {
                        return function () {
                            infoWindow3.setContent(contentString3);
                            infoWindow3.close();
                        };
                    })(marker, contentString3, infoWindow3));



                        markers.push(marker);
                        markers.push(marker2);
                        markers.push(marker3);

                }



                function CriaGraficosAleatorio()
                {
                    var valores = []

                    for(var i = 0; i < 10; i++)
                    {
                        var nr = Math.ceil(Math.random( 1, 100) * 10);
                        valores.push(nr);
                    }


                    Highcharts.chart('grafico-qtd-notificacoes-dia', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Média de km Rodados Por Dia'
                        },
                        xAxis: {
                            categories: ['Domingo','Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado']
                        },
                        yAxis: {
                            title: {
                                text: 'Kms'
                            }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: false
                                },
                                enableMouseTracking: true
                            }
                        },
                        series: [{
                            name: 'Media de Km Rodados / dia',
                            data: [valores[0], valores[1], valores[2], valores[3], valores[4], valores[5], valores[6]],
                            color: '#09b0ed'
                        }]
                    });

                }







                function CarregaUsuario (idCaminhoneiro)
                {
                    var caminhoneiro = AchaCaminhoneiro(idCaminhoneiro);


                    var divUsuario = document.getElementById('div-usuario')
                    divUsuario.innerHTML =
                        `
                            <img width="200" src="/imgs/perfis/caminhoneiro-${caminhoneiro.Id}.png" style="border: 3px #09b0ed solid; margin-left: 25%;" class="rounded mb-2">
                            <h5 class="card-title text-dark text-center">${caminhoneiro.Caminhoneiro}</h5>
                            <div class="card-text">
                                <p class=" text-center">Idade: ${caminhoneiro.Idade}</p>
                                <p class="card-text text-dark text-center">Estado Cívil: ${caminhoneiro.EstadoCivil}</p>
                                <p class="text-center">${caminhoneiro.Marca} - ${caminhoneiro.Cor}</p>
                                <p class="text-center">Placa: ${caminhoneiro.Placa}</p>
                            </div>
                        `;

                    var msgsCaminhoneiro = AchaMsgsCaminhoneiro(idCaminhoneiro);
                    var divMensagens = document.getElementById('div-mensagens')

                    msgsCaminhoneiro.forEach(msg => {

                        var conteudo =
                        `
                                          <div class="w-100 card mb-3 bg-fundo bg-${msg.CorFundo} zoom" style="max-width: 100%; border: 3px #09b0ed solid;" >
                                            <div class="row no-gutters">
                                              <div class="col-md-4">
                                                <img width="50" src="../imgs/perfis/caminhoneiro-${msg.CaminhoneiroId}.png" class="card-img rounded m-2 mt-5" style="border: 3px #09b0ed solid;">
                                              </div>
                                              <div class="col-md-8">
                                                <div class="card-body">
                                                  <h5 class="card-title text-dark">${msg.NomeCaminhoneiro}</h5>
                                                  <p class="card-text">${msg.Texto}</p>
                                                  <p class="card-desc">${msg.Marca} - ${msg.Cor}<br>Placa: ${msg.Placa}</p>
                                                  <p class="card-text text-dark">${msg.Data}</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                        `;

                        divMensagens.innerHTML += conteudo;
                    });


                    var divStatus = document.getElementById('div-status')
                    divStatus.innerHTML =
                        `
                            <div class="div-bg-${caminhoneiro.Status}"></div>
                            <p>${caminhoneiro.StatusDescricao}</p>
                        `;
                }

                function AchaCaminhoneiro(idCaminhoneiro)
                {
                    var caminhoneiroEscolhido;

                    caminhoneiros.forEach(c => {

                        if (c.Id == idCaminhoneiro)
                        {
                            caminhoneiroEscolhido = c;
                        }
                    });

                    return caminhoneiroEscolhido;
                }


                function AchaMsgsCaminhoneiro(idCaminhoneiro)
                {
                    var lstMsgsRetorno = [];

                    var msgs = GetTodasMensagens();

                    msgs.forEach(msg => {
                            if (msg.CaminhoneiroId == idCaminhoneiro) {
                                lstMsgsRetorno.push(msg);
                            }
                    });

                    return lstMsgsRetorno;
                }




                /* CHAMANDO FUNÇÕES*/
                CarregaUsuario(caminhoneiroEscolhido);
                var caminhoneiro = AchaCaminhoneiro(caminhoneiroEscolhido);
                initMapaTodosCaminhoes(caminhoneiro);
                CriaRadaresNoMapa(caminhoneiro, mapaTodosCaminhoes);
                CriaGraficosAleatorio();

            });





</script>




